################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Picture Sources/~$Pictures.xlsx
/1718112_2/.vs/1718112_2/v15/Browse.VC.opendb